In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd 
import statsmodels.api as sm

In [2]:
df = pd.read_csv('clustered.csv')

In [3]:
df

,household_id,SA2,HHSIZE,TOTALVEHS,INC,age_profile,HHSIZE_normalised,TOTALVEHS_normalised,INC_normalised,DWELLTYPE_Flat or Apartment,DWELLTYPE_Other,DWELLTYPE_Separate House,DWELLTYPE_Terrace/Townhouse,OWNDWELL_Being Purchased,OWNDWELL_Being Rented,OWNDWELL_Fully Owned,OWNDWELL_Occupied Rent-Free,OWNDWELL_Something Else,label
0,112680,206041122,2,0,2100,0,0.125,0.0,0.658659,1,0,0,0,0,1,0,0,0,2
1,864581,203021044,1,1,350,0,0.000,0.2,0.070571,0,0,1,0,0,0,1,0,0,9
2,1401687,210031237,3,1,1250,1,0.250,0.2,0.381882,0,0,1,0,1,0,0,0,0,3
3,1592533,209011204,3,4,800,1,0.250,0.8,0.219720,0,0,1,0,1,0,0,0,0,3
4,1136035,213031352,4,1,4275,1,0.375,0.2,0.965966,0,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,144550,206051129,2,2,3125,0,0.125,0.4,0.850350,0,0,0,1,0,1,0,0,0,2
9996,2014255,212041312,3,2,1700,1,0.250,0.4,0.496997,0,1,0,0,0,0,1,0,0,4
9997,1018916,213011328,3,1,2350,1,0.250,0.2,0.724725,0,0,1,0,0,1,0,0,0,8
9998,2051960,212041460,2,0,2075,1,0.125,0.0,0.645646,0,0,1,0,0,0,1,0,0,1
9999,340697,207031161,4,2,1000,1,0.375,0.4,0.288789,0,0,1,0,1,0,0,0,0,3

In [4]:
df_EV = df[df['cluster'] == 8]

KeyError: 'cluster'

In [ ]:
df_EV['SA2'].value_counts().idxmax()

206031114

In [ ]:
df_EV['SA2'].value_counts().sort_values(ascending=False)

206031114    1332
206011108    1088
212041314    1086
214011374    1066
208021177    1064
             ...
210021233      89
213041461      89
210031439      87
206041124      75
203031052      73
Name: SA2, Length: 322, dtype: int64

In [ ]:
count_df = df.groupby('SA2').size().reset_index().rename(columns={0: 'Count'})
count_df

           SA2  Count
0    203011034   1956
1    203011035   2339
2    203011036   1994
3    203021037   5733
4    203021038   9767
..         ...    ...
321  214021381   5951
322  214021382   6385
323  214021383   6696
324  214021384   8727
325  214021385   6288

[326 rows x 2 columns]

In [ ]:
count_df[count_df['SA2'] == 210031439]

           SA2  Count
161  210031439   1022

In [ ]:
df['EV'] = 0
df.loc[df['cluster'] == 8, 'EV'] = 1
df

,household_id,SA2,HHSIZE,TOTALVEHS,INC,age_profile,HHSIZE_normalised,TOTALVEHS_normalised,INC_normalised,DWELLTYPE_Flat or Apartment,...,DWELLTYPE_Separate House,DWELLTYPE_Terrace/Townhouse,OWNDWELL_Being Purchased,OWNDWELL_Being Rented,OWNDWELL_Fully Owned,OWNDWELL_Occupied Rent-Free,OWNDWELL_Something Else,cluster,own,EV
0,1,206011105,2,2,2350,1,0.125,0.4,0.719219,0,...,1,0,0,0,1,0,0,1,1,0
1,2,206011105,2,1,800,0,0.125,0.2,0.225225,0,...,1,0,1,0,0,0,0,0,1,0
2,3,206011105,2,1,800,0,0.125,0.2,0.225225,0,...,1,0,1,0,0,0,0,0,1,0
3,4,206011105,2,2,4000,1,0.125,0.4,0.944945,0,...,0,0,1,0,0,0,0,8,1,1
4,5,206011105,2,2,4000,1,0.125,0.4,0.944945,0,...,0,0,1,0,0,0,0,8,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1676253,2112747,212051327,1,0,350,0,0.000,0.0,0.068068,0,...,0,0,0,0,0,0,1,2,0,0
1676254,2112748,212051327,2,1,1000,1,0.125,0.2,0.285285,1,...,0,0,0,1,0,0,0,4,0,0
1676255,2112749,212051327,2,1,1000,1,0.125,0.2,0.285285,1,...,0,0,0,1,0,0,0,4,0,0
1676256,2112750,212051327,2,1,1000,1,0.125,0.2,0.285285,1,...,0,0,0,1,0,0,0,4,0,0
1676257,2112751,212051327,2,1,1000,1,0.125,0.2,0.285285,1,...,0,0,0,1,0,0,0,4,0,0

In [ ]:
X = df[['INC', 'HHSIZE', 'TOTALVEHS', 'own', 'DWELLTYPE_Separate House', 'age_profile']]
Y = df['EV']

X = sm.add_constant(X)

model = sm.Logit(Y, X)
results = model.fit()
print(results.summary())

Optimization terminated successfully.
         Current function value: 0.076581
         Iterations 11
                           Logit Regression Results
==============================================================================
Dep. Variable:                     EV   No. Observations:              1676258
Model:                          Logit   Df Residuals:                  1676251
Method:                           MLE   Df Model:                            6
Date:                Wed, 24 May 2023   Pseudo R-squ.:                  0.7440
Time:                        14:16:03   Log-Likelihood:            -1.2837e+05
converged:                       True   LL-Null:                   -5.0140e+05
Covariance Type:            nonrobust   LLR p-value:                     0.000
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                      -17.8837      0.052   -344.031      0.000     -17.986     -17.782
INC                          0.0039   1.15e-05    336.733      0.000       0.004       0.004
HHSIZE                      -0.1741      0.004    -45.368      0.000      -0.182      -0.167
TOTALVEHS                    0.9261      0.006    157.639      0.000       0.915       0.938
own                          1.9869      0.019    106.840      0.000       1.950       2.023
DWELLTYPE_Separate House     1.0887      0.017     64.020      0.000       1.055       1.122
age_profile                 -0.8304      0.015    -57.076      0.000      -0.859      -0.802
============================================================================================

Possibly complete quasi-separation: A fraction 0.47 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.

In [ ]:
results_summary = results.summary()
summary_df = pd.read_html(results_summary.tables[1].as_html(), header=0, index_col=0)[0]
summary_df.to_excel('logistic_regression_summary.xlsx')

In [ ]:
X = df[['HHSIZE', 'age_profile']]
Y = df['EV']

X = sm.add_constant(X)

model = sm.Logit(Y, X)
results = model.fit()
print(results.summary())

Optimization terminated successfully.
         Current function value: 0.247589
         Iterations 8
                           Logit Regression Results
==============================================================================
Dep. Variable:                     EV   No. Observations:              1676258
Model:                          Logit   Df Residuals:                  1676255
Method:                           MLE   Df Model:                            2
Date:                Wed, 24 May 2023   Pseudo R-squ.:                  0.1723
Time:                        14:16:11   Log-Likelihood:            -4.1502e+05
converged:                       True   LL-Null:                   -5.0140e+05
Covariance Type:            nonrobust   LLR p-value:                     0.000
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
const          -5.3675      0.012   -465.901      0.000      -5.390      -5.345
HHSIZE          0.6195      0.002    359.144      0.000       0.616       0.623
age_profile     1.2144      0.008    155.954      0.000       1.199       1.230
===============================================================================

In [ ]:
results_summary = results.summary()
summary_df = pd.read_html(results_summary.tables[1].as_html(), header=0, index_col=0)[0]
summary_df.to_excel('hhsize_age_logistic_regression_summary.xlsx')

In [ ]:
X = df[['INC', 'TOTALVEHS', 'own', 'DWELLTYPE_Separate House']]
Y = df['EV']

X = sm.add_constant(X)

model = sm.Logit(Y, X)
results = model.fit()
print(results.summary())

Optimization terminated successfully.
         Current function value: 0.077674
         Iterations 11
                           Logit Regression Results
==============================================================================
Dep. Variable:                     EV   No. Observations:              1676258
Model:                          Logit   Df Residuals:                  1676253
Method:                           MLE   Df Model:                            4
Date:                Wed, 24 May 2023   Pseudo R-squ.:                  0.7403
Time:                        14:16:19   Log-Likelihood:            -1.3020e+05
converged:                       True   LL-Null:                   -5.0140e+05
Covariance Type:            nonrobust   LLR p-value:                     0.000
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                      -18.1714      0.052   -351.275      0.000     -18.273     -18.070
INC                          0.0037   1.09e-05    341.728      0.000       0.004       0.004
TOTALVEHS                    0.8308      0.005    151.279      0.000       0.820       0.842
own                          1.7874      0.018     99.856      0.000       1.752       1.822
DWELLTYPE_Separate House     0.9034      0.016     55.087      0.000       0.871       0.936
============================================================================================

Possibly complete quasi-separation: A fraction 0.46 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.

In [ ]:
results.params

const                      -18.171432
INC                          0.003735
TOTALVEHS                    0.830801
own                          1.787410
DWELLTYPE_Separate House     0.903432
dtype: float64

In [ ]:
df

,household_id,SA2,HHSIZE,TOTALVEHS,INC,age_profile,HHSIZE_normalised,TOTALVEHS_normalised,INC_normalised,DWELLTYPE_Flat or Apartment,...,DWELLTYPE_Separate House,DWELLTYPE_Terrace/Townhouse,OWNDWELL_Being Purchased,OWNDWELL_Being Rented,OWNDWELL_Fully Owned,OWNDWELL_Occupied Rent-Free,OWNDWELL_Something Else,cluster,own,EV
0,1,206011105,2,2,2350,1,0.125,0.4,0.719219,0,...,1,0,0,0,1,0,0,1,1,0
1,2,206011105,2,1,800,0,0.125,0.2,0.225225,0,...,1,0,1,0,0,0,0,0,1,0
2,3,206011105,2,1,800,0,0.125,0.2,0.225225,0,...,1,0,1,0,0,0,0,0,1,0
3,4,206011105,2,2,4000,1,0.125,0.4,0.944945,0,...,0,0,1,0,0,0,0,8,1,1
4,5,206011105,2,2,4000,1,0.125,0.4,0.944945,0,...,0,0,1,0,0,0,0,8,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1676253,2112747,212051327,1,0,350,0,0.000,0.0,0.068068,0,...,0,0,0,0,0,0,1,2,0,0
1676254,2112748,212051327,2,1,1000,1,0.125,0.2,0.285285,1,...,0,0,0,1,0,0,0,4,0,0
1676255,2112749,212051327,2,1,1000,1,0.125,0.2,0.285285,1,...,0,0,0,1,0,0,0,4,0,0
1676256,2112750,212051327,2,1,1000,1,0.125,0.2,0.285285,1,...,0,0,0,1,0,0,0,4,0,0
1676257,2112751,212051327,2,1,1000,1,0.125,0.2,0.285285,1,...,0,0,0,1,0,0,0,4,0,0

In [ ]:
df['EV'].sum()

148394